---
platform_host_description: Example Kubernetes CI runner

storage_volumes:
  - name: runner_data
    device: /dev/disk/by-id/example-k8s-runner-data
    vg_name: data
    lv_name: gitlab_runner
    mountpoint: /var/lib/gitlab-runner
    initialize: false

gitlab_runner_name: k8s-runner-example
gitlab_runner_token_src: "{{ lookup('ansible.builtin.env', 'PLATFORM_INFRASTRUCTURE_CONFIG_DIR') }}/gitlab-runners/dev/k8s-runner-example.token"
podman_host_socket_enabled: true
gitlab_runner_executor: docker
gitlab_runner_podman_socket_enabled: true
gitlab_runner_docker_image: >-
  docker.io/library/alpine:3.22.1@sha256:4bcff63911fcb4448bd4fdacec207030997caf25e9bea4045fa6c8c44de311d1
gitlab_runner_tags:
  - dev
  - linux-amd64
  - k8s
  - docker
