---
platform_host_description: Example monitoring service

storage_volumes:
  - name: monitoring_data
    device: /dev/disk/by-id/example-monitoring-data
    vg_name: data
    lv_name: monitoring
    mountpoint: /var/lib/monitoring
    initialize: false
