---
platform_host_description: Example RKE2 server 3

storage_volumes:
  - name: rke2_data
    device: /dev/disk/by-id/example-rke2-server-03-data
    vg_name: data
    lv_name: rke2
    mountpoint: /var/lib/rancher/rke2
    initialize: false
