apiVersion: 1

providers:
  - name: {{ monitoring_stack_grafana_dashboard_provider_name | to_json }}
    orgId: 1
    folder: {{ monitoring_stack_grafana_dashboard_folder | to_json }}
    type: file
    disableDeletion: true
    editable: false
    updateIntervalSeconds: 30
    options:
      path: {{ monitoring_stack_grafana_platform_dashboards_dir | to_json }}
