---
k8s_bastion_runtime_src: "{{ playbook_dir }}/../vendor/platform-k8s-bastion/runtime"
k8s_bastion_install_dir: /usr/local/lib/bastion
k8s_bastion_bin_dir: /usr/local/bin
k8s_bastion_sbin_dir: /usr/local/sbin

k8s_bastion_policy_src: ../platform-private/config/files/k8s-bastion/dev/access-policy.yaml
k8s_bastion_admin_kubeconfig_src: "{{ lookup('ansible.builtin.env', 'PLATFORM_INFRASTRUCTURE_CONFIG_DIR') }}/k8s-bastion/dev/admin.kubeconfig"
k8s_bastion_ca_src: ../platform-private/config/files/k8s-bastion/dev/ca.crt

k8s_bastion_offline_bootstrap: true
k8s_bastion_bootstrap_user_kubeconfigs: true
k8s_bastion_bootstrap_admin_kubeconfigs: true
k8s_bastion_admin_group: platform-k8s-admins
k8s_bastion_manage_cluster_rbac: true

k8s_bastion_enable_bootstrapd: true
k8s_bastion_enable_csr_timers: true
k8s_bastion_enable_cert_renew_timer: true
k8s_bastion_enable_cluster_status_timer: true

k8s_bastion_symlinks: []
