---
rke2_version: v1.35.5+rke2r2
rke2_rpm_common_repository_url: https://rpm.rancher.io/rke2/stable/common/centos/10/noarch
rke2_rpm_version_repository_url: https://rpm.rancher.io/rke2/stable/1.35/centos/10/x86_64
rke2_rpm_el_major: "10"
rke2_rpm_arch: x86_64
rke2_rpm_package_release: 0.el10
rke2_rpm_selinux_package_nevra: rke2-selinux-0.23-1.el10.noarch
rke2_rpm_gpg_key_url: https://rpm.rancher.io/public.key
rke2_rpm_gpg_key_sha256: 7d2415f7fc532c365c8874bfad966566daaa0d04a9a5ba14d1db6080a9c12629
rke2_rpm_gpg_key_fingerprint: C8CFF216455126E9B9C918BE925EA29AE257814A
rke2_token_src: "{{ lookup('ansible.builtin.env', 'PLATFORM_INFRASTRUCTURE_CONFIG_DIR') }}/rke2/dev/cluster-token"
rke2_reboot_for_kernel_modules: true
platform_ingress_controller: traefik
rke2_traefik_http_node_port: 30080
rke2_traefik_https_node_port: 30443
rke2_tls_sans:
  - api.dev.example.test
  - 192.0.2.72

rke2_kube_vip_enabled: true
rke2_kube_vip_api_vip: 192.0.2.72
rke2_kube_vip_interface: eth0
rke2_kube_vip_chart_version: 0.9.9
rke2_kube_vip_image_tag: v1.2.1
rke2_kube_vip_env:
  cp_enable: "true"
  svc_enable: "false"
  vip_arp: "true"
  vip_subnet: "32"
  vip_leaderelection: "true"
  vip_leaseduration: "15"
  vip_renewdeadline: "10"
  vip_retryperiod: "2"
  lb_enable: "true"
  lb_port: "6443"
  vip_interface: "{{ rke2_kube_vip_interface }}"

rke2_registry_ca_src: "{{ lookup('ansible.builtin.env', 'PLATFORM_INFRASTRUCTURE_CONFIG_DIR') | dirname }}/pki/export/ansible/ca/root-ca.crt"
rke2_registry_mirrors: "{{ {
  platform_registry_hostname: {
    'endpoint': [platform_registry_url]
  }
} }}"
rke2_registry_configs: "{{ {
  platform_registry_hostname: {
    'tls': {
      'ca_file': rke2_registry_ca_path
    }
  }
} }}"
rke2_firewalld_cluster_sources:
  - 192.0.2.66/32
  - 192.0.2.67/32
  - 192.0.2.68/32
  - 192.0.2.69/32
  - 192.0.2.70/32
  - 192.0.2.71/32
rke2_firewalld_api_sources:
  - 192.0.2.60/32
  - 192.0.2.65/32
