[Unit]
Description=Run bastion CSR cleanup periodically

[Timer]
OnBootSec={{ k8s_bastion_csr_cleanup_on_boot }}
OnUnitActiveSec={{ k8s_bastion_csr_cleanup_on_active }}
Unit=bastion-csr-cleanup.service

[Install]
WantedBy=timers.target
