set -o pipefail

for user in {{ k8s_bastion_initial_bootstrap_users | map('quote') | join(' ') }}; do
  home_dir="$(getent passwd "$user" | cut -d: -f6 || true)"
  if [[ -n "$home_dir" ]] && {
    [[ {{ k8s_bastion_force_bootstrap_user_kubeconfigs | bool | ternary('1', '0') }} -eq 1 ]] || {
      [[ ! -f "$home_dir/.kube/config" ]] && [[ ! -f "$home_dir/.kube/bootstrap" ]]
    }
  }; then
    printf '%s\n' "$user"
  fi
done
