{{- $valid := false -}}
{{- $token := "" -}}
{{- if and (eq (index . "apiVersion") "v1") (eq (index . "kind") "Secret") (eq (index . "type") "Opaque") -}}
{{- with (index . "data") -}}
{{- if eq (len .) 2 -}}
{{- $tokenFound := false -}}
{{- $registrationEmpty := false -}}
{{- $knownKeys := true -}}
{{- range $key, $value := . -}}
{{- if eq $key "runner-token" -}}
{{- if eq (printf "%T" $value) "string" -}}
{{- $tokenFound = true -}}
{{- $token = $value -}}
{{- end -}}
{{- else if eq $key "runner-registration-token" -}}
{{- $registrationEmpty = and (eq (printf "%T" $value) "string") (eq $value "") -}}
{{- else -}}
{{- $knownKeys = false -}}
{{- end -}}
{{- end -}}
{{- if and $knownKeys $tokenFound $registrationEmpty -}}
{{- $valid = le (len $token) 684 -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- if $valid -}}
{{- printf "token:%s" $token -}}
{{- else -}}invalid{{- end -}}
