ui = {{ openbao_ui_enabled | bool | lower }}
api_addr = "https://{{ openbao_service_dns }}:{{ openbao_client_port }}"
cluster_addr = "https://{{ openbao_node_dns }}:{{ openbao_cluster_port }}"
log_level = "{{ openbao_log_level }}"
log_format = "{{ openbao_log_format }}"

storage "raft" {
  path = "{{ openbao_container_data_dir }}"
  node_id = "{{ openbao_node_name }}"
  performance_multiplier = {{ openbao_raft_performance_multiplier }}

{% for member in openbao_cluster_members if member.name != inventory_hostname %}
  retry_join {
    leader_api_addr = "https://{{ member.dns }}:{{ openbao_backend_port }}"
    leader_ca_cert_file = "{{ openbao_container_config_dir }}/tls/ca.crt"
    leader_tls_servername = "{{ member.dns }}"
  }
{% endfor %}
}

listener "tcp" {
  address = "{{ openbao_node_address }}:{{ openbao_backend_port }}"
  cluster_address = "{{ openbao_node_address }}:{{ openbao_cluster_port }}"
  tls_cert_file = "{{ openbao_container_config_dir }}/tls/tls.crt"
  tls_key_file = "{{ openbao_container_config_dir }}/tls/tls.key"
  tls_min_version = "{{ openbao_tls_min_version }}"
  tls_max_version = "{{ openbao_tls_max_version }}"
  tls_disable_client_certs = {{ openbao_tls_disable_client_certs | bool | lower }}
  disable_unauthed_rekey_endpoints = true
  disable_unauthed_generate_root_endpoints = true
}

telemetry {
  prometheus_retention_time = "{{ openbao_telemetry_prometheus_retention_time }}"
  disable_hostname = {{ openbao_telemetry_disable_hostname | bool | lower }}
  enable_hostname_label = {{ openbao_telemetry_enable_hostname_label | bool | lower }}
}
