---
all:
  children:
    rocky:
      hosts:
        gitlab-example:
          ansible_host: 192.0.2.51

    container_hosts:
      hosts:
        gitlab-example:

    storage_volume_hosts:
      hosts:
        gitlab-example:

    gitlab:
      hosts:
        gitlab-example:

    gitlab_runners:
      hosts: {}

    monitoring:
      hosts: {}

    monitoring_targets:
      hosts: {}

    rke2_cluster:
      hosts: {}

    rke2_servers:
      hosts: {}

    rke2_agents:
      hosts: {}

    bastion:
      hosts: {}

    k8s_bastion:
      hosts: {}

    storage_clients:
      hosts: {}

    registry:
      hosts: {}

    vault:
      hosts: {}

    load_balancers:
      hosts: {}

    haproxy:
      hosts: {}
