---
platform_environment: homelab
platform_domain: homelab.example.test

ansible_user: ansible
ansible_become: true

platform_timezone: UTC

platform_base_packages:
  - bash-completion
  - curl
  - git
  - jq
  - lsof
  - sysstat
  - tar
  - wget
