---
haproxy_workload_lb_enabled: true
haproxy_workload_lb_http_backend_port: 30080
haproxy_workload_lb_https_backend_port: 30443
haproxy_workload_lb_backends:
  - name: k8s-worker-01
    address: 192.0.2.69
  - name: k8s-worker-02
    address: 192.0.2.70
  - name: k8s-worker-03
    address: 192.0.2.71
