---
monitoring_stack_grafana_admin_password_src: "{{ lookup('ansible.builtin.env', 'PLATFORM_INFRASTRUCTURE_CONFIG_DIR') }}/monitoring/homelab/grafana-admin-password"
monitoring_stack_prometheus_web_listen_port: 9091
monitoring_stack_prometheus_targets:
  - target: node-01.example.test:9100
    vm_name: node-01
    ip: 192.0.2.61
    platform_role: registry
    environment: homelab
  - target: node-02.example.test:9100
    vm_name: node-02
    ip: 192.0.2.62
    platform_role: worker
    environment: homelab
monitoring_stack_grafana_firewalld_allowed_sources:
  - 192.0.2.0/24
monitoring_stack_loki_firewalld_allowed_sources:
  - 192.0.2.0/24
