---
zot_registry_host_port: 443
zot_registry_tls_cert_src: /path/outside/git/registry/tls.crt
zot_registry_tls_key_src: /path/outside/git/registry/tls.key
zot_registry_auth_enabled: true
zot_registry_auth_htpasswd_src: /path/outside/git/registry/htpasswd
zot_registry_firewalld_allowed_sources:
  - 192.0.2.0/24
zot_registry_extra_config:
  http:
    accessControl:
      repositories:
        "**":
          policies:
            - users:
                - registry-admin
              actions:
                - read
                - create
                - update
                - delete
      adminPolicy:
        users:
          - registry-admin
        actions:
          - read
          - create
          - update
          - delete
zot_registry_smoke_validate_certs: false
